.c-menu-card{
    background-color: #3C2B1C;
    margin: 20px;
    @include tab{
        display: flex;
    }
    img{
        width: 100%;
        object-fit: cover;
        @include tab{
            width: 50%;
        }
    }
    &__description{
        color: #fff;
        font-family: "M+ 1m";
    }
    h3{
        font-size: 20px;
        font-weight: bold;
        margin: 5%;
    }
    h4{
        font-size: 16px;
        font-weight: bold;
        margin: 10px 5%;
    }
    &__txt{
        font-size: 16px;
        font-weight: 400;
        margin: 10px 20% 10px 5%;
    }
    &__detail-btn{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            background-color: #fff;
            color: #707070;
            font-size: 16px;
            font-weight: bold;
            padding: 14px 50px;
            border-radius: 25px;
            text-align: center;
        }
    }
}