.c-tag{
    margin: 2.5% 0;
    span{
        font-size: 20px;
        font-family: "M+ 1m";
        display: inline-block;
        padding:0 10px;
        background-color: #9D8670;;
        color: #fff;
        border-radius: 8px;
        margin-right: 10px;
    }
    a{
        font-size: 20px;
        font-family: "M+ 1m";
        text-decoration: none;
        color: #3C2A10;
    }
}