.p-article--single,.p-article--page{
    color: #3C2A10;
    font-family: "M+ 1m";
    padding: 0 2.5%;
    & h2{
        font-size: 28px;
        font-weight: bold;
        margin:5% 0 2.5%;
        @include tab{
            font-size: 36px;
        }
    }
    & p{
        font-size: 16px;
        margin:2.5% 0 5%;
    }
    h3{
        font-size: 24px;
        @include tab{
            font-size: 28px;
        }
    }
    h4,h5,h6{
        font-size: 20px;
        margin:5% 0;
    }
    .wp-block-image{
        img{
            width: 100%;
            object-fit: cover;
            margin: 5% 0;
            height: 30vw;
        }
    }

    .wp-block-media-text{
        margin: 5% 0;
        img{
            height: 50%;
            object-fit:contain;
        }
    }

    & > ul, & > ol{
        padding:2.5% 0 0 24px ;
        font-size: 16px;
        font-family: "M+ 1m";
        ul,ol{
            padding-left: 24px;
        }
    }
}