.p-branch-menu{
    margin: 3%;
    font-family: 'Roboto', sans-serif;
    @include tab{
        //margin: 30px;
        ul{
            justify-content: space-around;
            display: flex;
        }
    }
    &__take-out,&__eat-in{
        width: auto;
        height: 642px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        a{
            text-decoration: none;
            h2{
                color: #fff;
                font-size: 40px;
                margin: 10px;
                &::after{
                    content: "__";
                    display: block;
                }
            }
        }
        @include tab{
            height: 680px;
        }
    }
    &__take-out{
        background-image: url(../img/take-out.jpg);
    }
    &__eat-in{
        margin-top: 10px;
        background-image: url(../img/eat-in.jpg);
        @include tab{
            margin-top: 0;
            margin-left: 3%;
        }
    }
    .p-branch-menu__txt{
        margin-top: auto;
    }
    .p-branch-menu__txt-box{
        background-color: rgba($color: #fff, $alpha: 0.7);
        color: #3C2A10;
        margin: 0 10px 10px 10px;
        font-family: "M+ 1m";
        h3{
            font-size: 22px;
            font-weight: bold;
            padding: 20px 10px;
        }
        dd{
            font-size: 16px;
            padding: 0 15px 20px;
        }
    }
}