.p-header-title{
    height: inherit;
    @include pc{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
    & h1{
        @include pc{
            font-size: 64px;
        }
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 40px;
        display: flex;
        justify-content: center;
        a {
            color: #707070;
            text-decoration: none;
        }
    }
}