.p-main-description{
    color: #3C2A10;
    font-family: "M+ 1m";
    & h2{
        font-size: 28px;
        font-weight: bold;
        margin:5% 5% 2.5%;
        @include tab{
            font-size: 36px;
        }
    }
    & p{
        font-size: 16px;
        margin:2.5% 5% 5%;
    }
}