.p-menu-detail{
    &__top-visual{
        width: 100%;
        object-fit: cover;
        margin: 10% 0;
    }
    &__description1,&__description2{
        display: flex;
        justify-content: space-between;
        p{
            font-size: 16px;
            font-family: "M+ 1m";
            width: 50%;
            max-height: 45vw;
            overflow: hidden;
        }
        img{
            align-self: flex-start;
            width: 45%;
            object-fit: contain;
            display: flex;
        }
    }
    &__description2{
        margin-top: 10%;
    }
    &__mid-visual{
        text-align: center;
        img{
            width: 267px;
            margin: 10% 0;
            @include tab{
                width: 581px;
                margin-bottom: 30%;
            }
            @include pc{
                margin:5%;
            }
        }
    }

    
}