.p-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    *{
        color: #fff;
        text-decoration: none;
        list-style: none;
    }
    .menu-footermenu-container{
        & > ul{
            display: flex;
            list-style: none;
            & li::before{
                content: "|";
                padding: 0 10px;
                pointer-events:none;
            }
            & li:first-of-type::before{
                display: none;
            }
        }
    }
    &__copy{
        display: flex;
        justify-content: center;
        & > p{
            font-family: "M+ 1m";
            font-size: 14px;
        }
    }
}