.p-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    &__menu{
        & > ul{
            display: flex;
            list-style: none;
            padding: 46px 0px;
            & > p{
                margin: 0 10px;
            }
        }
    }
    &__copy{
        display: flex;
        justify-content: center;
        & > p{
            font-family: "M+ 1m";
            font-size: 14px;
        }
    }
}