.p-sidebar{
    &__menu--main{
        margin: 200px 0px;
        padding:0 50px;
    }
    .widget_categories{
        color: #707070;
        font-family: "M+ 1m";
        h2{
            display: none;
        }
        li{
            list-style: none;
        }
        a{
            display: block;
            color: #707070;
            text-decoration: none;
            white-space: nowrap;
        }
        & > ul > li > a{
            font-size: 24px;
            padding:20px 0;
            font-weight: bold;
        }
        .children{
            a{
                font-size: 20px;
                padding:10px;
            }
        }
    }
}