.p-sidebar{
    &__menu--main{
        margin: 200px 0px;
        padding:0 50px;
    }
    .sidebar{
        color: #707070;
        font-family: "M+ 1m";
        h2{
            display: none;
        }
        li{
            list-style: none;
        }
    }
    .menu-item{
        a{
            display: block;
            color: #707070;
            text-decoration: none;
            white-space: nowrap;
            font-size: 24px;
            padding:20px 0;
            font-weight: bold;
        }
    }
    .sub-menu{
        a{
            font-size: 20px;
            font-weight: 400;
            padding:10px;
        }
    }

}