.l-contents{
    display: flex;
    &__left{
        height: 100%;
        width: 100%;
    }
    &__right{
        position: fixed;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: 100;
        transition: all 0.3s;
        display: flex;
        justify-content: flex-end;
    }
    &__sidebar{
        overflow-y: auto;
        background-color: #F2EDE9;
        z-index: 110;
    }
    &__right.open{
        right: 0;
    }

    @include pc{
        &__left{
            width: 80%;
        }
        &__right{
            width: 20%;
            height: auto;
            display: block;
            position: static;
        }
        &__sidebar{
            height: 100%;
        }
    }
}

.l-main--single{
    .p-main-visual h1,.p-article{
        margin:0 5%;
    }
}